# 1

In [ ]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [ ]:
obj2['California'] == None

In [ ]:
obj3['California']

In [ ]:
x = obj2['California']
obj2['California'] != x

In [ ]:
import math
math.isnan(obj2['California'])

# 2

In [ ]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [ ]:

S.iloc[0:3]

# 3

In [ ]:
# Students dictionary.
students = [
	{ 'Name': 'Alice',
    'Class': 'Physics',
    'Score': 85 },
  { 'Name': 'Jack',
    'Class': 'Chemistry',
    'Score': 82 },
  { 'Name': 'Helen',
    'Class': 'Biology',
    'Score': 90 }
]

# Students data frame.
df = pd.DataFrame(students)

# Print.
df.head()

In [ ]:
# df.rename(mapper = lambda x: x.upper(), axis = 1, inplace = True)
# df.head()

# df = df.rename(mapper = lambda x: x.upper(), axis = 'columns')
# df.head()

df.rename(mapper = lambda x: x.upper(), axis = 1)
df.head()

# df = df.rename(mapper = lambda x: x.upper(), axis = 1)
# df.head()

# 4

In [ ]:
scores = [
	{	"Serial No.": 1,
		"gre score": 337,
		"toefl score": 118, },
	{	"Serial No.": 2,
		"gre score": 324,
		"toefl score": 107, },
	{	"Serial No.": 3,
		"gre score": 316,
		"toefl score": 104, },
	{	"Serial No.": 4,
		"gre score": 322,
		"toefl score": 110, },
	{	"Serial No.": 5,
		"gre score": 314,
		"toefl score": 103, }
]

df = pd.DataFrame(scores)

df.head()

In [ ]:
df.where(df['toefl score'] > 105)

In [ ]:
df.where(df['toefl score'] > 105).dropna()

In [ ]:
df[df['toefl score'] > 105]

# 5

# 6

In [ ]:
states = [
	{	"State": "Ohio",
		"one": 0,
		"two": 1,
		"three": 2,
		"four": 3, },
	{	"State": "Colorado",
		"one": 4,
		"two": 5,
		"three": 6,
		"four": 7, },
	{	"State": "Utah",
		"one": 8,
		"two": 9,
		"three": 10,
		"four": 11, },
	{	"State": "New York",
		"one": 12,
		"two": 13,
		"three": 14,
		"four": 15, },
]

df = pd.DataFrame(states)

df.head()

In [ ]:
df.drop("one", axis = 1)

df.head()

# 7

In [ ]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

s1.head()

In [ ]:
s2.head()

In [ ]:
s2.loc[1]

# 8

In [ ]:
(df['toefl score'] > 105) & (df['toefl score'] < 115)

# 9

# 10